
<div class="modal left fade" id="offCanvasLeftSidebarMenuModal" tabindex="-1" role="dialog" aria-labelledby="offCanvasLeftSidebarMenuModalLabel" aria-hidden="true" style="z-index: 10000;" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" style="padding-top: 0;">
        <div class="row">
          <div class="col p-0">
            <p class="mobile-menu-header text-uppercase w-100 text-center text-white mb-0" style="background: black;">{{ section.settings.mobile_menu_header_text }}</p>
          </div>
        </div>
        <form id="mobile-search-form" action="/search" method="POST">
          <input type="hidden" name="type" value="product"/>
          <div class="row">
            <div class="col" style="position: relative;">
              <div class="form-group">
                <label for="" class="d-none">Search</label>
                <input id="mobile-search-form-query" type="text" name="q" class="form-control" placeholder="Search..." >
              </div>
              <button type="submit" class="btn btn-transparent" style="box-shadow: none; background: transparent; top: 0; right: 0; position: absolute; padding: 0 1rem 0 !important;">
                <div class="icon-search-wrap p-3" style="cursor: pointer;">
                  {% include 'icon-search-lg' %}
                </div>
              </button>
            </div>
          </div>
        </form>
        <div class="row mb-3">
          <div class="col">
            <div id="mobileMenuAccordion" class="w-100">
              {% for link in linklists[section.settings.header_mobile_linklist].links %}
                {% assign parent_index = forloop.index %}
                <div class="card">
                  {% if link.links == blank %}
                    <div class="card-header" id="heading{{ parent_index }}">
                      <a class="btn btn-link box-shadow-none text-black" href="{{ link.url }}" title="{{ link.title }}" >
                        {{ link.title }}
                      </a>
                    </div>
                  {% else %}
                    <div class="card-header" id="heading{{ parent_index }}">
                      <button class="btn btn-link text-black box-shadow-none" data-toggle="collapse" data-target="#collapse{{ parent_index }}" aria-expanded="false" aria-controls="collapse{{ parent_index }}">
                        {{ link.title }} <i class="fa fa-angle-down float-right p-1"></i>
                      </button>
                    </div>
                    <div id="collapse{{ parent_index }}" class="collapse" aria-labelledby="heading{{ parent_index }}" data-parent="#mobileMenuAccordion">
                      <div class="card-body p-0">
                        <div id="sub_mobileMenuAccordion{{ parent_index }}" class="sub_mobileMenuAccordion">
                          {% for childlink in link.links %}
                            {% assign child_index = forloop.index %}
                            <div class="card">
                              {% if childlink.links == blank %}
                                <div class="card-header" id="heading{{ parent_index }}-{{ child_index }}">
                                  <a class="btn btn-link box-shadow-none text-black" href="{{ childlink.url }}" title="{{ childlink.title }}" >
                                    {{ childlink.title }}
                                  </a>
                                </div>
                              {% else %}
                                <div class="card-header" id="heading{{ parent_index }}-{{ child_index }}">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link text-black box-shadow-none" data-toggle="collapse" data-target="#collapse{{ parent_index }}-{{ child_index }}" aria-expanded="false" aria-controls="collapse{{ parent_index }}-{{ child_index }}">
                                      {{ childlink.title }} <i class="fa fa-angle-down float-right p-1"></i>
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapse{{ parent_index }}-{{ child_index }}" class="collapse" aria-labelledby="heading{{ parent_index }}-{{ child_index }}" data-parent="#sub_mobileMenuAccordion{{ parent_index }}">
                                  <div class="card-body pt-0 pl-3 pr-0 pb-0">
                                    <ul class="mb-0">
                                      <li>
                                        <a href="{{ childlink.url }}" title="{{ childlink.title }}" class="d-block text-black py-2">All</a>
                                      </li>
                                      {% for child_childlink in childlink.links %}
                                        {% assign child_child_index = forloop.index %}
                                        {% if linklists[child_childlink.title].links == blank %}
                                          <li>
                                            <a href="{{ child_childlink.url }}" title="{{ child_childlink.title }}" class="d-block text-black py-2">{{ child_childlink.title }}</a>
                                          </li>
                                        {% else %}
                                          <li>
                                            {% comment %}
                                            <a href="{{ child_childlink.url }}" title="{{ child_childlink.title }}" class="child-childlink_childlist-parent-link d-block text-black py-2">{{ child_childlink.title }}</a>
                                            {% endcomment %}
                                            <div class="card-header" id="offcanvas_heading{{ parent_index }}-{{ child_index }}-{{ child_child_index }}">
                                              <h5 class="mb-0">
                                                <button class="btn btn-link text-black box-shadow-none" data-toggle="collapse" data-target="#offcanvas_collapse{{ parent_index }}-{{ child_index }}-{{ child_child_index }}" aria-expanded="false" aria-controls="offcanvas_collapse{{ parent_index }}-{{ child_index }}-{{ child_child_index }}">
                                                  {{ child_childlink.title }} <i class="fa fa-angle-down float-right p-1"></i>
                                                </button>
                                              </h5>
                                            </div>
                                            <div id="offcanvas_collapse{{ parent_index }}-{{ child_index }}-{{ child_child_index }}" class="collapse" aria-labelledby="offcanvas_heading{{ parent_index }}-{{ child_index }}-{{ child_child_index }}">
                                              <div class="card-body p-0">
                                                <ul class="child-childlink_childlist">
                                                  {% for child_child_childlink in linklists[child_childlink.title].links %}
                                                    <li>
                                                      <a class="d-block text-black py-2" href="{{ child_child_childlink.url }}" title="{{ child_child_childlink.title }}">{{ child_child_childlink.title }}</a>
                                                    </li>
                                                  {% endfor %}
                                                </ul>
                                              </div>
                                            </div>                                          
                                          </li>
                                        {% endif %}
                                      {% endfor %}
                                    </ul>
                                  </div>
                                </div>
                              {% endif %}
                            </div>
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <!-- <div class="text-center">
          <small class="d-block text-uppercase mb-3">OR</small>
          <a data-dismiss="modal" class="btn btn-outline-black text-black" title="Close Menu">Close Menu</a>
        </div> -->
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Mobile Left Sidebar Menu",
    "settings": [
      {
        "type": "text",
        "id" : "mobile_menu_header_text",
        "label": "Mobile Menu Header Text",
        "default": "Shop Menu"
      },
      {
        "type": "link_list",
        "id" : "header_mobile_linklist",
        "label": "Mobile Menu",
        "default": "main-menu"
      }
    ]

  }
{% endschema %}