{% assign key_features = product.description | split: "Key Features" | last | split: "What's Inside" | first %}
{% assign whats_inside = product.description | split: "What's Inside" | last %}
<section class="product-tabs container-fluid bg-lightgray mb-5 py-5">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="d-none d-lg-block col-lg">
          <img src="{{ section.settings.desktop-left-image | img_url: '1920x' }}" alt="{{shop.name}}" class="d-block w-100 mx-auto" style="max-width: 400px;"/>
        </div> 
        <div class="col-lg">
          <h3 class="text-uppercase mb-5 text-center" >{{section.settings.title}}</h3>

          <ul class="nav nav-tabs mb-3" id="productTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="key-features-tab" data-toggle="tab" href="#key-features" role="tab" aria-controls="key-features" aria-selected="true">Key Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="whats-inside-tab" data-toggle="tab" href="#whats-inside" role="tab" aria-controls="whats-inside" aria-selected="false">What's Inside</a>
            </li>
          </ul>
          <div class="tab-content" id="productTabContent">
            <div class="tab-pane fade show active" id="key-features" role="tabpanel" aria-labelledby="key-features-tab">
              {{key_features}}
            </div>
            <div class="tab-pane fade" id="whats-inside" role="tabpanel" aria-labelledby="whats-inside-tab">
              {{whats_inside}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% schema %}
{
  "name": "Tabs",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Heading Trust Text",
      "default": "It's All In The Details"
    },
    {
      "type": "image_picker",
      "id": "desktop-left-image",
      "label": "Desktop Left Image"
    }
  ]
}
{% endschema %}